/* Yan menü genişliği ve pozisyonu */
#sidebar-wrapper {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    background: #f8f9fa;
    transition: all 0.3s;
}

/* Yan menü kapalıyken */
#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

/* Sayfa içeriği pozisyonu */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 250px;
    transition: all 0.3s;
}

/* Yan menü kapalıyken sayfa içeriği */
#wrapper.toggled #page-content-wrapper {
    padding-left: 0;
}